/* 
//// Author: Ruben Hernandez Jr ////
//// Date: 6th July 2022 //// 
//// For the Web //// 
*/

/* /// HTML TAGS /// */
header {
    padding: 8rem 0rem 0rem 0rem;
}

body {
    font-size: 1rem;
}

nav {
    font-size: 0.9rem;
}

/* /// BOOTSTRAP TAGS /// */
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar .nav-item .nav-link {
    color: black;
}


/* /// CUSTOM TAGS /// */

.domain-icon {
    width: 4rem;
    height: auto;
}

.blue-check {
    font-size: 1.2rem;
    color: #4285F4;
}

.icon {
    height: auto;
    width: 14rem;
}

@media only screen and (max-width: 576px) {
    .header-image {
        height: auto;
        width: 100%;
    }

    nav {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 960px) {
    .c-border {
      border-bottom: 1px solid lightgrey;
    }
}

.hamburger div {
    width: 32px;
    height: 1px;
    background-color: grey;
    margin: 10px 0px;
}

.hero {
    padding: 8rem 0rem;
}

.bg-color {
    color: rgb(255, 255, 255);
    background: linear-gradient(225deg,rgb(41, 102, 186) 0%, rgb(15, 51, 100) 85%);
}

.main-button {
    text-decoration: none;
    color: #ffffff;
}

.main-button:hover {
    color: #ffffff;
}

.list {
    padding: 0rem 0rem;
    list-style: none;
}

.list li p {
    margin: 0rem;
    padding: 0rem;
}

/* ICON-IMAGES */


/* TITLES */

.sub-title {
    margin: 0.5rem 0rem 0.5rem 0rem;
    font-size: 1.5rem;
    font-weight:300;
    color: black;
}

.small-bold-title {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}

/* SMALL TEXT */
.small-text-custom {
    font-size: 0.9rem;
}


.contact-icons {
    color: #ffffff;
    height: auto;
    width: auto;
    font-size: 2rem;
}

.contact-icons:hover {
    color: #ffffff;
}

.icon-container {
    margin: 2rem;
}

.py-7 {
    padding-top: 80px;
    padding-bottom: 80px;
}